<div class="col-sm-6 col-lg-6 col-md-6">
  <a href="<%= event_path(event['_id']) %>">
  <div class="box effect8">
    <div class="container col-md-12" style="padding-top:15px;">
      <img class="flyer" src="<%= event['heroImage']  %>" alt="" />
      <div class="overlay">&nbsp
      </div>
      <div class="overlay-text">
          <div class="time-container text-center pull-left">
            <div style="font-size:.8em;"><% unless event['short_month'].nil? %> <%= event['short_month'].upcase %> <% end %></div>
            <div style="font-size:1.2em;"><% unless event['day'].nil? %> <%= event['day'] %> <% end %></div>
          </div>
        <h1 style="padding-left:11%;"><%= event['title'] %></h1>
      </div>
    </div>

    <div class="container col-md-12">
      <p class="line1b pull-left"><% unless event["organization"].nil? %> <%= event["organization"]["name"] %> <% end %></p>
      <p class="pull-right" style="padding-top:5px;font-size:2.3em;">&#10004</p>
    </div>

  </div>
  </a>
</div>